#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logintxt {
  color: black;
  font-size: 100px;
}

.txtbox {
  display: flex;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin: 10px;
  border-radius: 20px;
  resize: none;
  font-size: xx-large;
  text-align: left;
  border: 1px solid black;
}
.txtbox::placeholder{
  color: rgba(255, 255, 255, 0.392);
  font-size: xx-large;
  text-align: left;
  padding: 10px;
}

.btn {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.cardC {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 800px;
  align-items: center;
  justify-content: center;
  background-color: #9BC1BC;
  border-radius: 35px;
  border: solid 3px white;
}

.contBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}